<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Helvetica Neu Bold.ttf</string>
		<string>HelveticaNeue BlackCond.ttf</string>
		<string>HelveticaNeue Light.ttf</string>
		<string>HelveticaNeue Medium.ttf</string>
		<string>HelveticaNeue Thin.ttf</string>
		<string>HelveticaNeue.ttf</string>
		<string>HelveticaNeueBd.ttf</string>
		<string>HelveticaNeueHv.ttf</string>
		<string>HelveticaNeueIt.ttf</string>
		<string>HelveticaNeueLt.ttf</string>
		<string>HelveticaNeueMed.ttf</string>
	</array>
</dict>
</plist>
